<template>
  <div
    class="
      container
      fill-height
      ma-x-100
      flex flex-column
      align-items-center
      justify-center justify-space-evenly
    "
  >
    <div class='text-align-center'>
      Les fêtes sont arrivées, marquant au passage le cap des 9 mois passés à
      tes côtés.
    </div>
    <div class='text-align-center'>
      9 mois que ma vie a changé, 9 mois que mon coeur tu as monopolisé.
    </div>
    <div class='text-align-center'>
      Durant cette période, j'ai pu découvrir une fille aussi belle que géniale.
    </div>
    <div class='text-align-center'>
      Et j'ai pu ressentir le vrai amour malgré cette frontière digitale.
    </div>
    <div class='text-align-center'>
      Grâce à toi, j'ai pu devenir une meilleure personne, plus à l'aise dans
      son esprit.
    </div>
    <div class='text-align-center'>
      Auprès de toi, j'ai vécu des moments de bonheur qui me marqueront à vie.
    </div>
    <div class='text-align-center'>
      Des moments qui marquent le début d'une existence entière avec la femme de
      mes rêves.
    </div>
    <div class='text-align-center'>
      Je n'ai qu'un seul souhait pour le restant des temps être ton Adam et que
      tu sois ma Eve.
    </div>
    <div class='text-align-center'>
      Enfin, pour finir, je sais que je n'ai pas été parfait à chaque instant,
      que j'ai souvent merdé.
    </div>
    <div class='text-align-center'>
      Mais sache que je compte utiliser tout mon temps afin de te rendre
      heureuse pour l'éternité.
    </div>
  </div>
</template>
<script>
export default {
  name: 'Home',
};
</script>
<style lang="scss" scoped>

</style>
