<template>
  <div
    class="flex flex-column fill-height justify-space-around align-items-center"
  >
    <h2 class="mobile text-align-justify text-align-last-center pa-x-100">
      Nous voici déjà à l'ultime cadeau. Pour être franc, tous les cadeaux que
      je t'ai fait au préalable n'étaient qu'une enveloppe pour celui-là. C'est
      à la fois celui que j'appréhende le plus mais aussi le plus important. Tu
      as dû recevoir un sms d'amazon, un bon d'achat d'une valeur de 20€. Ce bon
      d'achat, il est là parce que je voulais t'offrir quelque chose de précis,
      mais sans ton adresse, c'est un peu compliqué. Alors voilà, j'ai pu voir
      une pub pour un collier en deux parties réprésentant un yin-yang. C'est un
      peu notre symbole donc je l'ai trouvé parfait. Donc voilà, avec ce bon
      d'achat j'aimerais que tu achètes ce collier, et que le jour où nous nous
      rencontrerons, tu me donnes la part qui est pour moi.
    </h2>
    <img src="@/assets/yin.png" alt="" class="yin" />
    <h2 class="mobile text-align-justify text-align-last-center pa-x-100">
      Voici donc
      <a
        href=" https://www.amazon.fr/BESTEEL-Collier-Couple-Inoxydable-Pendentif/dp/B078J6P5QS/ref=sr_1_5?keywords=Collier+Yin+Yang&qid=1640107741&sr=8-5"
        >le lien</a
      >
      de ce fameux collier dont je te parle que tu peux d'ailleurs voir en image
      au dessus.
    </h2>
  </div>
</template>
<style scoped>
img {
  width: 400px;
  max-width: 100%;
}
</style>
