<template>
  <div
    class="flex flex-column fill-height align-items-center justify-space-evenly"
  >
    <h2 class="mobile text-align-justify text-align-last-center pa-x-100">
      C'est maintenant l'heure de la chanson. J'ai eu envie de chanter cette
      petite musique que je trouve vraiment jolie de par le rythme mais aussi
      les paroles. Tu peux aussi la télécharger et en faire ton réveil en
      cliquant sur les 3 petits points, n'hésite pas (je rigole ne fait pas ça
      <i>insérer le smiley sob</i>).
    </h2>
    <img src="@/assets/wanna.png" class="wanna" alt="" />
    <audio controls class="wanna">
      <source src="@/assets/song.mp3" type="audio/mpeg" />
    </audio>
  </div>
</template>
<script>
export default {
  name: 'Home',
  methods: {},
};
</script>
<style scoped lang='scss'>
.wanna {
  max-width: 100%;
  width: 500px;
  @media screen and (max-width: 728px) {
    width: 250px;
  }
}
</style>
