<template>
  <div
    class="
      flex flex-row
      fill-height
      align-items-center
      justify-space-evenly
      flex-wrap
    "
  >
    <figure class="text-align-center">
      <img
        v-if="!isMobile && !full"
        class="draw"
        src="@/assets/dessin.png"
        alt=""
        @click="growUp"
      />
      <img
        v-else-if="full && !isMobile"
        class="drawUp"
        src="@/assets/dessin.png"
        alt=""
        @click="growUp"
      />
      <img
        v-else-if="!full && isMobile"
        class="draw"
        src="@/assets/dessin.png"
        alt=""
        @click="growUp"
      />
      <img
        v-else
        class="drawUp"
        src="@/assets/dessin rogné.png"
        alt=""
        @click="growUp"
      />
      <figcaption>
        <i
          >Tu peux cliquer sur l'image pour
          {{ !full ? "zoomer" : "dezoomer" }}</i
        >
      </figcaption>
    </figure>

    <h2 class="mobile text-align-justify text-align-last-center pa-x-100">
      Voici un sombtueux dessin fait par mes soins. <br />
      L'explication des différents éléments est la suivante : On est tous les
      deux en montagne, là où on habitera plus tard sous le soleil parce bruh le
      froid, on a notre maison, avec des moutons qui gambadent et on a un
      satellite qui nous donne une connexion de fou pour regarder des animés et
      jouer et y a une cheminée qui fait de la fumée parce que même en été j'ai
      froid :'( .
    </h2>
  </div>
</template>
<script>
export default {
  name: 'Home',
  data() {
    return {
      full: false,
      size: null,
    };
  },
  methods: {
    growUp() {
      this.full = !this.full;
    },
  },
  computed: {
    isMobile() {
      return !(this.size > 760);
    },
  },
  mounted() {
    this.size = window.innerWidth;
  },
};
</script>
<style scoped lang="scss">
figure {
  margin: 0;
}
.draw {
  width: 800px;
  max-width: 100%;
  padding-left: 50px;
  height: 500px;
  flex: 1;
  @media screen and (max-width: 728px) {
    height: 275px;
    padding-left: 0;
  }
}
h2 {
  flex: 2;
}
.drawUp {
  max-width: 100%;
  height: 95vh;
  padding-top: 15px;
  z-index: 50;
  @media screen and (max-width: 728px) {
    position: absolute;
    top: 0;
    left: 0;
  }
}
</style>
