<template>
  <div>
    <div class="flex flex-column justify-space-evenly pa-top-50">
      <div class="text-align-justify text-align-last-center pa-x-100">
        <h1 class="mobile" v-if="$store.state.kdoClicked.length < 3">
          Bouuuuh. Noël est arrivé et il était important pour moi de te faire un
          cadeau. Mais comme je sais pas faire les choses simplement, il n'y en
          a pas un mais bien 3. Je t'invite à cliquer sur chacun des paquets
          pour voir les différents cadeaux que je t'ai préparé. Tu peux les
          ouvrir dans l'ordre que tu voudras simplement pense à ouvrir les trois
          sans quitter le site pour avoir l'animation finale. Je te souhaite un
          joyeux noël ❤
        </h1>
        <h1 class="mobile" v-else>
          Booooooon, il est possible que je me sois un chouïa trompé sur le
          nombre de cadeaux que je t'ai préparé. Disons que ceux d'avant étaient
          des amuses bouches avant les vrais cadeaux que voici. Tout d'abord,
          voici un petit code steam pour Dead By Daylight, pour avoir Laurie
          Strode. Et enfin, je te laisse découvrir l'ultime cadeau. Encore une
          fois, joyeux noël, je t'aime !
        </h1>
      </div>
      <div
        class="flex justify-space-evenly flex-wrap"
        v-if="$store.state.kdoClicked.length < 3"
      >
        <Cadeau @click.native="clickKdo(1)" figcaption="Cadeau 1" />
        <Cadeau @click.native="clickKdo(2)" figcaption="Cadeau 2" />
        <Cadeau @click.native="clickKdo(3)" figcaption="Cadeau 3" />
      </div>
      <div v-else class="flex justify-space-evenly flex-wrap">
        <Cadeau @click.native="clickKdo('final')" figcaption="Cadeau final" />
      </div>
    </div>
  </div>
</template>

<script>
import Cadeau from '@/components/Cadeau.vue';

export default {
  name: 'Home',
  components: {
    Cadeau,
  },
  methods: {
    clickKdo(index) {
      this.$router.push(`/cadeau/${index}`);
      if (!this.$store.state.kdoClicked.includes(`Cadeau ${index}`)) {
        this.$store.dispatch('addFigcaption', `Cadeau ${index}`);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
h1 {
  margin: 0;
  @media screen and (max-width: 768px) and (max-height: 768px) {
    font-size: 15px;
  }
  @media screen and (max-height: 768px) and (min-width: 1024px) {
    font-size: 25px;
  }
}
footer {
  position: relative;
}
</style>
