<template>
  <div class="cadeau flex align-items-center justify-center ">
    <figure v-if="!$store.state.kdoClicked.includes(figcaption)">
      <img src="@/assets/kdofermé.png" alt="" />
      <figcaption class="text-align-center">{{ figcaption }}</figcaption>
    </figure>
    <figure v-else>
      <img src="@/assets/kdoouvert.png" alt="" />
      <figcaption class="text-align-center">{{ figcaption }}</figcaption>
    </figure>
  </div>
</template>
<script>
export default {
  name: 'Cadeau',
  props: {
    figcaption: String,
  },
};
</script>
<style lang="scss">
.cadeau {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 370px;
  @media screen and (max-width: 768px) {
      min-height: auto;
    }
  img {
    width: 350px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      width: 175px;
    }
    @media screen and (max-height: 768px) and (min-width: 1024px) {
      width: 250px;
    }
  }
  figcaption {
    font-size: 25px;
  }
}
</style>
