<template>
  <footer class="full-width flex justify-center">
    <button
      v-if="$store.state.kdoClicked.length === 3 && $route.name !== 'Home'"
      class="custom-button image-clignote"
      @click="clickHome"
    >
      Il reste une surprise !
    </button>
    <button
      class="custom-button"
      @click="clickHome"
      v-else-if="$route.name !== 'Home'"
    >
      Retour à l'accueil
    </button>
    <div
      v-else-if="$store.state.kdoClicked.length < 3"
      class="flex align-items-center justify-center"
    >
      <h2>{{ $store.state.kdoClicked.length }} cadeaux / 3</h2>
    </div>
    <div v-else class="text-align-center flex align-items-center">
      <h2>
        Code Dead By daylight : J3PE6-HGVRK-BDE3F
      </h2>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer',
  methods: {
    clickHome() {
      this.$router.push('/');
    },
  },
};
</script>
<style lang="scss" scoped>
footer {
  width: 100%;
  height: 99px;
  background-color: rgba(179, 174, 174, 0.205);
  border-top: 1px solid lightgrey;

  .custom-button {
    border-radius: 50px;
    background-color: #6658a2;
    text-align: center;
    color: white;
    border: 0;
    min-width: 200px;
    margin: 20px;
    padding: 20px 0;
    cursor: pointer;
    @media screen and (max-height: 1024px) {
      padding: 10px 0;
    }
  }
  .image-clignote {
    animation-duration: 6s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
  }
  @keyframes clignoter {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
</style>
