<template>
  <div
    class="flex align-items-center justify-center header"
  >
    {{ this.$route.meta.title.value }}
  </div>
</template>
<script>
export default {
  name: 'Header',
};
</script>
<style lang="scss">
.header {
  box-shadow: 0px 1px 4px #111;
  font-family: Gwendolyn;
  font-weight: bold;
  color: green;
  font-size: 80px;
  height: 100px;
  background-color: rgba(194, 194, 214, 0.2);
  @media screen and (max-width: 768px) {
    font-size: 60px;
  }
  @media screen and (max-height: 768px) {
    font-size: 60px;
  }
}
</style>
