<template>
  <div id="app">
    <let-it-snow v-bind="snowConf" :show="show"></let-it-snow>
    <Header />
    <router-view class="page-container" />
    <Footer />
  </div>
</template>
<script>
import Footer from '@/components/Footer.vue';
import Header from '@/components/Header.vue';

export default {
  components: {
    Footer,
    Header,
  },
  data() {
    return {
      snowConf: {
        windPower: 1,
        speed: 3,
        count: 12,
        size: 10,
        opacity: 1,
        images: [
          'https://raw.githubusercontent.com/bob-chen/let_it_snow/master/demo/snow.png',
        ],
      },
      show: false,
    };
  },
  mounted() {
    this.show = true;
    //   setTimeout( () => {
    //       this.show = false
    //   }, 5000)

    //   setTimeout( () => {
    //       this.show = true
    //   }, 10000)
  },
};
</script>
<style lang="scss" >
@import "./assets/global.scss";
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.text-align-last-center {
  text-align-last: center;
}

.full-width {
  width: 100vw;
}

.full-height {
  height: 100vh;
}

.fill-height {
  height: 100%;
}

.pa-x-100 {
  padding: 0 100px;
  @media screen and (max-width: 728px) {
    padding: 0 30px;
  }
}

.pa-top-50 {
  padding-top: 50px;
  @media screen and (max-width: 728px) {
    padding-top: 10px;
  }
}

.ma-x-100 {
  margin: 0 100px;
  @media screen and (max-width: 728px) {
    margin: 0 30px;
  }
}

.page-container {
  min-height: calc(100vh - 200px);
  // height: calc(100vh - 200px);
}

.mobile {
  @media screen and (max-width: 728px) {
    font-size: 15px;
  }
}
</style>
